body {
  background: url(./images/background.png) no-repeat top center/cover;
  color: black;
}
#box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  max-width: 480px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#text {
  padding: 4px;
}
#buttons {
  margin-left: 200px;
}
#enter {
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 6px;
}
#remove {
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 6px;
}

#fila {
  text-align: center; /* Centraliza o conteúdo horizontalmente */
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 50%;
  top: 50%;
}
